.main {
    background-image: url('/Mask group.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-items: start;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* border: #c70101 solid; */
    width: 60%;
    margin-top: 3rem;
}

.email,.nome {
    background-color: transparent;
    border: solid 1px #ffffffb5;
    height: 50px;
    border-radius: 15px;
    color: #ffffff;
    padding-left: 15px;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;

}

.button {
    margin-top: 15px;
    background-color: #ffffff;
    border: none;
    height: 45px;
    border-radius: 10px;
    color: #000000;
    font-size: medium;
    font-weight: 600;

}

.email::placeholder,.nome::placeholder {
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 400;

}


.container {
    /* border: #fff solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerObrigado {
    /* border: #fff solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container>h1 {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

.container>p:first-of-type {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.container>p {
    width: 450px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
}

.wapper {
    /* border: #00ff2a solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-left: 20%;
    color: #ffffff;
    text-align: center;
    width: 600px;
    
}

.wapper>button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}

.buttonObg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: #000000;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 600;
    margin-top: 2rem;
}

.obg{
    /* border: #00ff2a solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.obg>p{
    /* border: #001aff solid; */
    font-size: 1.5rem;
    width: 590px;
    text-align: center;
}
.obg>p:first-of-type{
    /* border: #e5ff00 solid; */
    font-weight: 400;
    
}


@media (max-width: 768px) {
    .main {
        background-image: url('/Prancheta 2 1.jpg');
        justify-content: start;
        align-items: flex-start;
        background-position: right;
    }

    .wapper{
        margin: 0;
        width: auto;
        margin-top: 110px;
    }

    .container{
        padding: 0 30px 30px;
    }

    .container>p{
        width: auto;
        font-size: 16px;
    }

    .form{
        width: 70%;
    }

}
@media (max-width: 414px) {
    .main {
        background-image: url('/Prancheta 2 1.jpg');
        justify-content: flex-start;
        align-items: flex-start;
        background-position: right;
    }

    .email,.nome{
        height: 40px;
        font-size: small;
    }

    .wapper{
        margin: 0;
        width: auto;
        margin-top: 80px;
    }
    .wapperObrigado{
        margin-top: 80px;
    }

    .container{
        padding: 0 30px 20px;
    }

    .container>p{
        width: auto;
        font-size: 14px;
    }

    .container>h1{
        font-size: 2.5rem;
    }

    .container>p:first-of-type{
        margin-bottom: 1.5rem;
        font-size: 1rem;
    }

    .form{
        width: 70%;
    }

    .obg>p{
        /* border: #001aff solid; */
        font-size: 1rem;
        width: auto;
    }

}